Name: <font size=4 color=Purple>Yaoyi</font><br>
E-mail: <a href="mailto:shadowyaoyi@gmail.com">shadowyaoyi@gmail.com</a><br>Message: <font size=4 color=Green>test</font><hr>Name: <font size=4 color=Purple>蔡佳侑</font><br>
E-mail: <a href="mailto:classleader@yahoo.com.tw">classleader@yahoo.com.tw</a><br>Message: <font size=4 color=Green>我不是型男</font><hr>Name: <font size=4 color=Purple>shadowyaoyi</font><br>E-mail: <a href="mailto:shadowyaoyi@hotmail.com">shadowyaoyi@hotmail.com</a><br>Message: <font size=4 color=Green>TEST</font><hr>Name: <font size=4 color=Purple>Yaoyi</font><br>E-mail: <a href="mailto:yaoyi_iyoay@yahoo.com.tw">yaoyi_iyoay@yahoo.com.tw</a><br>Message: <font size=4 color=Green>also test</font><hr>Name: <font size=4 color=Purple>蔡yo</font><br>E-mail: <a href="mailto:yaoyi_iyoay@yahoo.com.tw">yaoyi_iyoay@yahoo.com.tw</a><br>Message: <font size=4 color=Green>測試</font><hr>Name: <font size=4 color=Purple>Tsai</font><br>E-mail: <a href="mailto:shadowyaoyi@gmail.com">shadowyaoyi@gmail.com</a><br>Message: <font size=4 color=Green>homework2</font><hr>Name: <font size=4 color=Purple>羊尾</font><br>E-mail: <a href="mailto:zip_79@msn.com">zip_79@msn.com</a><br>Message: <font size=4 color=Green>這是正妹的網頁嗎XD
我果然日行一善</font><hr>
Name: <font size=4 color=Purple>123</font><br>E-mail: <a href="mailto:"></a><br>Message: <font size=4 color=Green>編碼沒有問題喔耶</font><hr>
Name: <font size=4 color=Purple>貍貓</font><br>E-mail: <a href="mailto:"></a><br>Message: <font size=4 color=Green>test</font><hr>
Name: <font size=4 color=Purple>貍貓</font><br>E-mail: <a href="mailto:yaoyi_iyoay@yahoo.com.tw">yaoyi_iyoay@yahoo.com.tw</a><br>Message: <font size=4 color=Green></font><hr>